<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-auto text-center">
                <img id="me" src="assets/img/daniel_velasco.jpg">
            </div>
            <div class="col">
                <div id="introduction">
                    <h1>Daniel Velasco</h1>
                    <h3>Software developer</h3>
                    <br>
                    <p>
                        I am an engineer committed to <b>product quality</b> and end <b>user experience</b>. I firmly
                        believe that user experience is the deciding factor that determines whether a product is good or
                        not.
                        <br><br>
                        I have <b>knowledge and skills</b> for some areas of development, such as: mobile, desktop and
                        web
                        development. Being the latter in which I have more experience.
                        <br><br>
                        If you want to know more about my career, you can see or download my <b>curriculum <a
                                href="https://1drv.ms/b/s!ApdII7ZjgWQmyngt5RGN2aaadXFn" target="_blank">here</a></b>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>